$baseColor: #3a8ee6;

.addProject {
    h3 {
        font-weight: 400;
        text-align: center;padding: 10px 0;
        border-bottom: 1px solid;
        padding-top: 0px;
        font-size: 20px;
    }
    .formList {
        height: 32px;
        line-height: 32px;
        margin-top: 15px;
        .form_left {
            width: 100px;
            text-align: right;
            font-size: 12px;
        }
        .input_right {
            float: left;
            width: 100%
        }
        .el-select {
            width: 100%
        }
    }
    .NOnum {
        margin-top: 15px;
        height: 30px;line-height: 30px;
        text-align: center;
        font-size: 16px;
        color: #409eff;
    }
    .topMess {
        height: 32px;
        line-height: 32px;
    }
    .search_left {
        width: 72px;
        height: 32px;
        line-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 0;
        font-size: 12px;
        display: inline-table;
        text-align: right;
        color: #606266;
        &.float {
            float: left;
        }
    }
    .Search_Top_Input {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;justify-content: space-between;
        .input_flex {
            margin-bottom: 10px;
            margin-right: 10px;
            //width: 200px;
        }
        .addNew {
            float: right;
            text-align: right;
            height: 26px;
            line-height: 26px;
            cursor: pointer;
            span {
                background: #3f9dd3;
                color: #ffffff;
                border-radius: 14px;
                text-align: center;
                display: inline-block;
                padding: 0 10px;
                margin-left: 10px;
                &:hover {
                    opacity: .8;
                    transition: all .3s;
                }
            }
            .delete {
                background: #fd6b6b;
            }
            .download {
                background-color: #67C23A;
            }
        }
        .search_left {
            float: left;
            width: 72px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .el-input,.el-select {
            width: 100%;
            float: right;
        }
        .zll-search {
            background: $baseColor;
            border: 1px solid $baseColor;
            color: #ffffff;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            cursor: pointer;
            &:hover {
                transition: all .3s;
                opacity: .8;
            }
            margin-left: 20px;
            float: left;
        }
        .zll-search-reset {
            border: 1px solid #ccc;
            color: #aaaaaa;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            cursor: pointer;
            margin-left: 10px;
            &:hover {
                transition: all .3s;
                opacity: .8;
            }
        }
    }
    .bottom_icon {
        position: absolute;
        right: 10px;
        bottom: 0;
        span {
            font-size: 25px;
            margin-left: 10px;
            color: $baseColor;
            cursor: pointer;
            &:hover{
                transition: all .3s;
                opacity: .7;
            }
        }
    }
    .mine-add {
        float: right;
        margin: 10px 0;
        position: relative;
        z-index: 1111;
        span {
            font-size: 22px;
            margin-left: 10px;
            color: $baseColor;
            cursor: pointer;
            &:hover{
                transition: all .3s;
                opacity: .7;
            }
        }
    }
    .create_project {
        position: absolute;
        right: 10px;
        bottom: 0;
        .create {
            background-color: #3f9dd3;
            padding: 8px 20px;
            color: #fff;
            border-radius: 25px;
            width: 90px;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
                transition: all .3s;
                opacity: .8;
            }
        }
    }
    .tableList {
        margin-top: 20px;
        position: relative;
        table {
            width: 100%;
            border-collapse: collapse;
            border:1px solid #ffffff;
            text-align: center;
            table-layout: fixed;
            th {
                background: #a6a6a6;
                color: #ffffff;
                padding: 3px;
                font-weight: normal;
                height: 26px;
                line-height: 26px;
            }
            td {
                padding: 3px;
                height: 26px;
                line-height: 26px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
            tr {
                background: #F2F2F2;
            }
            .el-date-editor {
                width: 100%
            }
            .checkStyle {
                i {
					font-size: 14px;
					vertical-align: middle;
                    cursor: pointer;
					&.el-icon-success {
						color: #409eff;
					}
					&.no-check {
						display: inline-block;
						width: 14px;
						height: 14px;
						border: 1px solid #cccccc;
                        background: #fff;
                    }
                    &.el-icon-check {
                        color: #ffffff;
                        background-color: #409eff;
                        font-size: 14px;
						border: 1px solid #DCDFE6;
                    }
				}
            }
        }
        &.week {
            table {
                table-layout:fixed;
                th, td {
                    height: 20px;
                    line-height: 20px;
                }
                td {
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
    .week_table {
        margin-top: 20px;
        table {
            width: 100%;
            border-collapse: collapse;
            border:1px solid #ffffff;
            text-align: center;
            table-layout:fixed;
            th {
                background: #97c0ea;
                padding: 3px;
                font-weight: normal;
                height: 32px;
                line-height: 32px;
            }
            td {
                background: #e2eefb;    
                height: 32px;
                line-height: 32px;
                padding: 3px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
        }
    }
}