$baseColor: #3a8ee6;

.Search_Top_Input {
    height: 26px;
    margin-bottom: 10px;
    .input_flex {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 200px;
        float: left;
    }
    .search_left {
        float: left;
        width: 72px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .el-input,.el-select,.el-cascader {
        // width: calc(100% - 72px);
        width: 100%;
        float: right;
    }
    .el-button.is-circle {
        padding: 10px;
    }
    .el-range-editor.el-input__inner {
        // width: 65%;
        width: 100%;
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        font-size: 12px;
    }
    .zll-search {
        background: $baseColor;
        border: 1px solid $baseColor;
        color: #ffffff;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        cursor: pointer;
        &:hover {
            transition: all .3s;
            opacity: .8;
        }
        margin: 0 5px;
    }
    .zll-search-reset {
        border: 1px solid #ccc;
        color: #aaaaaa;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        cursor: pointer;
        &:hover {
            transition: all .3s;
            opacity: .8;
        }
    }
    .addNew {
        float: right;
        text-align: right;
        height: 26px;
        line-height: 26px;
        cursor: pointer;
        span {
            background: #2196F3;
            color: #ffffff;
            border-radius: 14px;
            text-align: center;
            display: inline-block;
            padding: 0 10px;
            margin-left: 10px;
            &:hover {
                opacity: .8;
                transition: all .3s;
            }
        }
    }
}

